In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
import numpy as np
import sys
pd.set_option('display.max_row', 50)

In [3]:
local_path = 'C:/Users/USER/Desktop/CIG/backup_data/'

In [4]:
excel_file = 'input_format.xlsx'
excel_path = local_path + excel_file
excel_path

'C:/Users/USER/Desktop/CIG/backup_data/input_format.xlsx'

In [5]:
input_df = pd.read_excel(excel_path)
input_df.head(40)

                                     Dear Ms.Y.J.Lee,
0                                                 NaN
1                                    Good day to you,
2                                                 NaN
3
4                                                 NaN
5   Please check from all details relating 5 names...
6                                                 NaN
7
8                                                 NaN
9
10                                                NaN
11                                      SHIPPER NAME:
12                                                NaN
13                   INTERNATIONAL EGY KOREA CO.,LTD.
14                                                NaN
15                         AHAMAD ABD ALSAMEA RESSLAN
16                                                NaN
17                          SUNG-BONG-OA-RO-SEO-KU759
18                                                NaN
19                                      INCHEON KOREA
20               TEL:032-851-6607 // FAX:032-851-6608
21                                                NaN
22                              TAX ID NO: 7978700522
23                                                NaN
24
25                                                NaN
26
27                                                NaN
28
29                                                NaN
30                      AVANTE 2015 KMHDG41DBFU305360
31                                                NaN
32          CONSIGNEE NAME:  SABHA MOHAMED ALI HASSAN
33                                                NaN
34                         BUILDING NAME: ELGAAFARYAH
35                                                NaN
36                                 STREET: ABOU HAMAD
37                                                NaN
38                                CITY: ASH SHARQIYAH
39                                                NaN

In [6]:
# input_df = input_df.replace(" ",np.nan).dropna()
input_df = input_df.dropna()

In [7]:
shipper_cnt = 0
shipper_start_idx = 1048000 #excel last cell index

# 돌기전 Shipper가 1이어야 한다?
for idx,row in input_df.iterrows():
    print(row[0])
    val = row[0]
    if 'SHIPPER' in val:
        shipper_start_idx = idx
        shipper_start_name = val
    elif idx > shipper_start_idx:        
        if val == " ":
            shipper_end_idx = idx
            break

# shipper_start_idx, shipper_end_idx

Good day to you,

Please check from all details relating 5 names  as follow:


SHIPPER NAME:
INTERNATIONAL EGY KOREA CO.,LTD.
AHAMAD ABD ALSAMEA RESSLAN
SUNG-BONG-OA-RO-SEO-KU759
INCHEON KOREA
TEL:032-851-6607 // FAX:032-851-6608
TAX ID NO: 7978700522

In [8]:
ship_dict ={}
ship_list = []
ship_start_val = 'SHIPPER NAME:'
ship_start_idx = 11
ship_end_idx = 24
ship_info_df = input_df.copy().loc[ship_start_idx+1:ship_end_idx-1,:]

In [9]:
for idx,row in ship_info_df.iterrows():
    ship_list.append(row[0])
    
ship_list
ship_dict.update({ship_start_val:ship_list})

In [10]:
ship_dict

{'SHIPPER NAME:': ['INTERNATIONAL EGY KOREA CO.,LTD.',
  'AHAMAD ABD ALSAMEA RESSLAN',
  'SUNG-BONG-OA-RO-SEO-KU759',
  'INCHEON KOREA',
  'TEL:032-851-6607 // FAX:032-851-6608',
  'TAX ID NO: 7978700522']}