In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import pandas as pd
import numpy as np
import sys
pd.set_option('display.max_row', 50)

In [3]:
local_path = 'C:/Users/USER/Desktop/CIG/backup_data/'

In [4]:
excel_file = 'input_format.xlsx'
excel_path = local_path + excel_file
excel_path

'C:/Users/USER/Desktop/CIG/backup_data/input_format.xlsx'

In [5]:
input_df = pd.read_excel(excel_path)
input_df.head(40)

                                     Dear Ms.Y.J.Lee,
0                                                 NaN
1                                    Good day to you,
2                                                 NaN
3
4                                                 NaN
5   Please check from all details relating 5 names...
6                                                 NaN
7
8                                                 NaN
9
10                                                NaN
11                                      SHIPPER NAME:
12                                                NaN
13                   INTERNATIONAL EGY KOREA CO.,LTD.
14                                                NaN
15                         AHAMAD ABD ALSAMEA RESSLAN
16                                                NaN
17                          SUNG-BONG-OA-RO-SEO-KU759
18                                                NaN
19                                      INCHEON KOREA
20               TEL:032-851-6607 // FAX:032-851-6608
21                                                NaN
22                              TAX ID NO: 7978700522
23                                                NaN
24
25                                                NaN
26
27                                                NaN
28
29                                                NaN
30                      AVANTE 2015 KMHDG41DBFU305360
31                                                NaN
32          CONSIGNEE NAME:  SABHA MOHAMED ALI HASSAN
33                                                NaN
34                         BUILDING NAME: ELGAAFARYAH
35                                                NaN
36                                 STREET: ABOU HAMAD
37                                                NaN
38                                CITY: ASH SHARQIYAH
39                                                NaN

In [93]:
# input_df = input_df.replace(" ",np.nan).dropna()
input_df = input_df.dropna()
col = input_df.columns
col[0]
input_df = input_df.set_index(col[0])
input_df.reset_index(inplace=True)
input_df.head(35)

                                     Dear Ms.Y.J.Lee,
0                                    Good day to you,
1
2   Please check from all details relating 5 names...
3
4
5                                       SHIPPER NAME:
6                    INTERNATIONAL EGY KOREA CO.,LTD.
7                          AHAMAD ABD ALSAMEA RESSLAN
8                           SUNG-BONG-OA-RO-SEO-KU759
9                                       INCHEON KOREA
10               TEL:032-851-6607 // FAX:032-851-6608
11                              TAX ID NO: 7978700522
12
13
14
15                      AVANTE 2015 KMHDG41DBFU305360
16          CONSIGNEE NAME:  SABHA MOHAMED ALI HASSAN
17                         BUILDING NAME: ELGAAFARYAH
18                                 STREET: ABOU HAMAD
19                                CITY: ASH SHARQIYAH
20                                     COUNTRY: EGYPT
21                                 ID: 24505171300504
22                          TELEPHONE: +20 1211771544
23
24                       ACID NO: 9992022060000019361
25                     IMPORTER TAX NUMBER: 999999999
26                   FREIGHT FORWARDER ID : 940426854
27                  EXPORTER REGISTRATION COUNTRY: KR
28              FOREIGN EXPORTER COUNTRY: South Korea
29
30
31
32
33                      TUCSON 2017 KMHJ3812GHU324867
34  CONSIGNEE NAME:  WALEED ABD ELHAMIED ABD ELGHA...

In [103]:
def _get_dict_description_info(dic,descript_list,BL_cnt):
    if type(descript_list) == list:
        descript_cate = descript_list[0]
        descript_val = descript_list[1]
        dic.update({BL_cnt:{descript_cate:descript_val}})
    elif type(descript_list) == str:
#         print(descript_list)
        cha_name = descript_list.split()[0]
        cha_year = descript_list.split()[1]
        cha_no = descript_list.split()[2]
#         print(cha_name,cha_year,cha_no)
        dic.update({BL_cnt:{'MODEL':cha_name,'YR':cha_year,'CHASSINO':cha_no}})
    return dic

In [105]:
# shipper_cnt = 0
# shipper_start_idx = 1048000 #excel last cell index
BL_cnt = 0
con_dict = {}
chassi_dict = {}
acid_dict = {}
import_dict = {}
acid_dict = {}
exp_dict = {}
exp_cty_dict = {}

for idx,row in input_df.iterrows():
    val = row[0]
    
    if 'CONSIGNEE' in val:
        BL_cnt = BL_cnt + 1
        con_idx = idx
        con_name = val.split(':')
#         print(con_name)
        if idx >= 1:
            chassi_no_idx = idx - 1
            chassi_no = input_df.loc[chassi_no_idx,:][0]
            chassi_dict = _get_dict_description_info(chassi_dict,chassi_no,BL_cnt)
        con_dict = _get_dict_description_info(con_dict,con_name,BL_cnt)
    elif 'ACID' in val:
        acid_idx = idx
        acid_no = val.split(':')
        acid_dict = _get_dict_description_info(acid_dict,acid_no,BL_cnt)
#         print(acid_no)
    elif 'IMPORTER TAX NUMBER' in val:
        importer_idx = idx
        importer_no = val.split(':')
        import_dict = _get_dict_description_info(import_dict,importer_no,BL_cnt)
#         print(importer_no)
    elif 'FREIGHT FORWARDER ID' in val:
        exporter_idx = idx
        exporter_no = val.split(':')
        exp_dict = _get_dict_description_info(exp_dict,exporter_no,BL_cnt)
#         print(exporter_no)
    elif 'EXPORTER REGISTRATION COUNTRY' in val:
        exp_cty_idx = idx
        exp_cty_name = val.split(':')
        exp_cty_dict = _get_dict_description_info(exp_cty_dict,exp_cty_name,BL_cnt)
#         print(exp_cty_name)

print(chassi_dict)
print(con_dict)
print(acid_dict)
print(import_dict)
print(exp_dict)
print(exp_cty_dict)


#     total_dict.udpate(con_dict)
#     print(total_dict)



# shipper_start_idx, shipper_end_idx

{1: {'MODEL': 'AVANTE', 'YR': '2015', 'CHASSINO': 'KMHDG41DBFU305360'}, 2: {'MODEL': 'TUCSON', 'YR': '2017', 'CHASSINO': 'KMHJ3812GHU324867'}, 3: {'MODEL': 'AVANTE', 'YR': '2010', 'CHASSINO': 'KMHDU41BBAU097310'}, 4: {'MODEL': 'AVANTE', 'YR': '2016', 'CHASSINO': 'KMHD741DBGU027762'}, 5: {'MODEL': 'AVANTE', 'YR': '2009', 'CHASSINO': 'KMHDU41BP9U777527'}}
{1: {'CONSIGNEE NAME': '  SABHA MOHAMED ALI HASSAN'}, 2: {'CONSIGNEE NAME': '  WALEED ABD ELHAMIED ABD ELGHANY YOUSSEF'}, 3: {'CONSIGNEE NAME': '  ASMAA HASSAN ELSAYED TOUHAMY AHMED'}, 4: {'CONSIGNEE NAME': ' MOHAMED NASSER MOUSTAFA AAFIFY'}, 5: {'CONSIGNEE NAME': ' NADA AHMED ABOU ELHADIED ELHALAFAWY'}}
{1: {'ACID NO': ' 9992022060000019361'}, 2: {'ACID NO': ' 9992022060000019387'}, 3: {'ACID NO': ' 9992022060000019395'}, 4: {'ACID NO': ' 9992022060000068061'}, 5: {'ACID NO': ' 9992022060000068186'}}
{1: {'IMPORTER TAX NUMBER': ' 999999999'}, 2: {'IMPORTER TAX NUMBER': ' 999999999'}, 3: {'IMPORTER TAX NUMBER': ' 999999999'}, 4: {'IMPORTER TAX NUMBER ': ' 999999999'}, 5: {'IMPORTER TAX NUMBER ': ' 999999999'}}
{1: {'FREIGHT FORWARDER ID ': ' 940426854'}, 2: {'FREIGHT FORWARDER ID ': ' 940426854'}, 3: {'FREIGHT FORWARDER ID ': ' 940426854'}, 4: {'FREIGHT FORWARDER ID ': ' 940426854'}, 5: {'FREIGHT FORWARDER ID ': ' 940426854'}}
{1: {'EXPORTER REGISTRATION COUNTRY': ' KR'}, 2: {'EXPORTER REGISTRATION COUNTRY': ' KR'}, 3: {'EXPORTER REGISTRATION COUNTRY': ' KR'}, 4: {'EXPORTER REGISTRATION COUNTRY ': ' KR'}, 5: {'EXPORTER REGISTRATION COUNTRY ': ' KR'}}

In [53]:
ship_dict ={}
ship_list = []
ship_start_val = 'SHIPPER NAME:'
ship_start_idx = 11
ship_end_idx = 24
ship_info_df = input_df.copy().loc[ship_start_idx+1:ship_end_idx-1,:]

In [112]:
for idx,row in ship_info_df.iterrows():
    ship_list.append(row[0])
    
ship_list
ship_dict.update({ship_start_val:ship_list})

In [113]:
ship_dict

{'SHIPPER NAME:': ['INTERNATIONAL EGY KOREA CO.,LTD.',
  'AHAMAD ABD ALSAMEA RESSLAN',
  'SUNG-BONG-OA-RO-SEO-KU759',
  'INCHEON KOREA',
  'TEL:032-851-6607 // FAX:032-851-6608',
  'TAX ID NO: 7978700522',
  'INTERNATIONAL EGY KOREA CO.,LTD.',
  'AHAMAD ABD ALSAMEA RESSLAN',
  'SUNG-BONG-OA-RO-SEO-KU759',
  'INCHEON KOREA',
  'TEL:032-851-6607 // FAX:032-851-6608',
  'TAX ID NO: 7978700522']}